.setup {
    display: flex;
    flex-direction: column;
    
}

.difficultyButton {
    width: 8em;
    height: 3em;
    
}

.buttonContainer{
    display: flex;
    gap: 2em;
}

.setupTitle {
    display: flex;
    justify-content: center;
}

